<html>
<head>
    <meta charset=“utf-8”>
    <title>Cooper Walks</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        #today {background-color: #008CBA;}
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .active {
            background-color: #008CBA;
        }
        div {padding: 15px 0}
    </style>
    
</head>

<body>
    <div id="app">
        <div>
            <button class="button"
              v-for="week in weeks"
              v-on:click="setWeek(week)"
              v-bind:class="{ active: isActiveWeek(week) }"
            >{{week}}</button>
        </div>
        <div>
            <button class="button"
              v-for="weekDay in weekDays"
              v-on:click="setDay(weekDay)"
              v-bind:class="{ active: isActiveDay(weekDay) }"
            >{{weekDay}}</button> 
        </div>
        <div>{{ message }}</div>
        <button class="button" v-on:click="addWalk()">Add Walk</button>
        <button class="button" v-on:click="removeWalk()">Remove Walk</button>
        <div v-for="week in weeks">Total {{week}}: &pound;{{getWeeklyTotal(week)}} </div>
        <hr>
        <h3>Subtotal: &pound;{{totalCost}}</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="index.js"></script>
</body>
</html>